<script type="text/javascript">
  function filterUsingCategory(selectedCategory) {
    var id = 0;

    {% for post in site.posts %}
    var cats = {{ post.tags | jsonify }}
    var postDiv = document.getElementById(++id);
    postDiv.style.display = (selectedCategory == 'All' || cats.includes(selectedCategory)) ? 'unset' : 'none';
    {% endfor %}
  }
  function filterUsingSearch(searchText) {
    var id = 0;

    {% for post in site.posts %}
    var title = "{{ post.title }}"
    var postDiv = document.getElementById(++id);
    postDiv.style.display = (searchText == '' || title.toLowerCase().includes(searchText.toLowerCase())) ? 'unset' : 'none';
    {% endfor %}
  }
  window.addEventListener("DOMContentLoaded", (event) => {
    var input = document.getElementById("search-text");
    input.addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
        document.getElementById("search-button").click();
      }
    });
  });
</script>

<div class="block">
  <div class="is-flex is-flex-direction-row	is-flex-wrap-wrap	is-justify-content-space-between is-align-content-flex-start">
    <div class="buttons is-flex-grow-0">
      <button id="All" class="button is-outlined" onclick="filterUsingCategory('All')">
          Show All Posts
      </button>
      {% assign tags = site.tags | sort %}
      {% for category in tags %}
      {% assign cat = category | first %}
      <button id="{{ cat }}" class="button is-light" onclick="filterUsingCategory(this.id)">
          {{ cat }}
      </button>
      {% endfor %}
    </div>
    <div class="is-flex-grow-1">
      <div id="seach-div" class="field has-addons is-hidden-touch" style="float: right;">
        <div class="control">
          <input class="input" type="text" id="search-text" placeholder="Search recipes">
        </div>
        <div class="control">
          <a class="button is-info has-background-success-dark" type="submit" id="search-button" onclick="filterUsingSearch(document.getElementById('search-text').value)">
            Search
          </a>
        </div>
      </div>
      <div id="seach-div" class="field has-addons is-hidden-desktop" style="float: none;">
        <div class="control is-expanded">
          <input class="input" type="text" id="search-text" placeholder="Search recipes">
        </div>
        <div class="control">
          <a class="button is-info has-background-success-dark" type="submit" id="search-button" onclick="filterUsingSearch(document.getElementById('search-text').value)">
            Search
          </a>
        </div>
      </div>
    </div>
  </div>
</div>