<script type="text/javascript">
  function filterUsingTag(selectedTag) {
    var id = 0;

    {% for post in site.posts %}
    var tags = {{ post.tags | jsonify }}
    var postDiv = document.getElementById(++id);
    postDiv.style.display = (selectedTag == 'All' || tags.includes(selectedTag)) ? 'unset' : 'none';
    {% endfor %}
  }
  function filterUsingSearch(searchText) {
    var id = 0;

    {% for post in site.posts %}
    var title = "{{ post.title }}"
    var postDiv = document.getElementById(++id);
    postDiv.style.display = (searchText == '' || title.toLowerCase().includes(searchText.toLowerCase())) ? 'unset' : 'none';
    {% endfor %}
  }
  window.addEventListener("DOMContentLoaded", (event) => {
    var input = document.getElementById("search-text");
    input.addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
        document.getElementById("search-button").click();
      }
    });
    var dropdown = document.querySelector('.dropdown');
    dropdown.addEventListener('click', function(event) {
      event.stopPropagation();
      dropdown.classList.toggle('is-active');
    });
  });
</script>

<div class="block columns">
  <div class="column is-6-mobile is-6-tablet is-6-widescreen">
    <div class="dropdown">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Browse by type</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          {% assign tags = site.tags | sort %}
          {% for tag in tags %}
          {% assign t = tag | first %}
          <a href="#" class="dropdown-item" id="{{ t }}" onclick="filterUsingTag(this.id)">
            {{ t }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="column is-6-mobile is-6-tablet is-6-widescreen">
    <div id="seach-div" class="field has-addons is-hidden-touch" style="float: right;">
      <div class="control">
        <input class="input" type="text" id="search-text" placeholder="Search recipes">
      </div>
      <div class="control">
        <a class="button is-info has-background-success-dark" type="submit" id="search-button" onclick="filterUsingSearch(document.getElementById('search-text').value)">
          Search
        </a>
      </div>
    </div>
    <!-- <div id="seach-div" class="field has-addons is-hidden-desktop" style="float: none;">
      <div class="control is-expanded">
        <input class="input" type="text" id="search-text" placeholder="Search recipes">
      </div>
      <div class="control">
        <a class="button is-info has-background-success-dark" type="submit" id="search-button" onclick="filterUsingSearch(document.getElementById('search-text').value)">
          Search
        </a>
      </div>
    </div> -->
  </div>
</div>