<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ '/assets/styles.css' | absolute_url }}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{ '/assets/img/favicon.ico' | absolute_url }}">
</head>

<body>
    <div class="has-text-centered is-unselectable">
        <h1 class="title has-text-success-dark" id="header">
            <a href="{{ site.baseurl }}/">
                {{ site.title }}
            </a>
        </h1>
    </div>

    <div class="container content px-4">
        {{ content }}
    </div>
</body>

</html>