<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ "/assets/styles.css" | absolute_url }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="has-text-centered">
        <h1 class="title" id="header">
            {{ site.title }}
        </h1>
    </div>

    <div class="container">
        {{ content }}
    </div>

    <footer>
    </footer>
</body>

</html>