<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/styles.css' | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">
    <script src="https://kit.fontawesome.com/2a65e6ebaf.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="has-text-centered is-unselectable">
        <h1 class="title is-size-3 has-text-success-dark my-5" id="header">
            <a href="{{ site.baseurl }}/">
                {{ site.title }}
            </a>
        </h1>
    </div>

    <div class="container content px-4 pb-6">
        {{ content }}
    </div>
</body>

</html>