<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ "/assets/styles.css" | absolute_url }}" rel="stylesheet" type="text/css">
</head>

<body>
    <a  href="{{ site.baseurl }}/" class="navbar-item">
        <h1 class="title block">{{ site.title }} </h1>
    </a>
    <h2>{{ page.title }}</h2>
    <section>
        {{ content }}
    </section>
    <footer>
    </footer>
</body>

</html>